scikit-learn
numpy
networkx
seaborn
matplotlib
pandas
certifi==2019.11.28
chardet==3.0.4
dnspython==1.16.0
idna==2.9
oauthlib==3.1.0
pkg-resources==0.0.0
pymongo==3.10.1
python-dotenv==0.12.0
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
searchtweets==1.7.4
tweet-parser==1.13.2
TwitterSearch==1.0.2
urllib3==1.26.5
